$bg:#f5f6f2;
$dark: #2e3514;
$footer: #e9ece0;
$green: #607900;
$light-orange: #f0a35b;
$orange: #d17d2f;
$pattern: #f4f8eb;
$white: #fff;

$font-family: "Inter", sans-serif;
$second-family: "Playfair Display", sans-serif;